*{
    margin: 0px;
    padding: 0px;
}
.viewport{
    width: 1000px;
    background-color: white;
    overflow: hidden;
    height: 500px;
    margin: 0 auto;
}
.imageContainer{
    width: 5000px;
    height: 500px;
    list-style-type: none;

}
.imageSize{
    width:996px; 
    height:500px; 
    margin: 0px; 
    padding: 0px;
}
.viewport ul li{
    display: inline;
}